@model OjVolunteer.Model.Activity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrgCreate</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn").click(function () {
                //var majorIds = "";
                //$("input[name='Major']").each(function () {
                //    if (this.checked) {
                //        majorIds = majorIds + this.value + ",";
                //    }
                //});    
                //majorIds = majorIds.substr(0, majorIds.length - 1);
                //alert(majorIds);
                $.post("/Activity/Create/", $("#form1").serializeArray(), function (data) {
                    if (data == "success") {

                    } else {

                    }
                });
            });
        });

    </script>
</head>
<body>
    <form id="form1">
        <div class="form-horizontal">
            <h4>Activity</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ActivityName, "活动名称", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityIcon, "活动头像", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityIcon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityIcon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityTypeID, "活动类型", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ActivityTypeID");
                    @Html.ValidationMessageFor(model => model.ActivityTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityAddress, "活动地址", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityContent, "活动详细内容", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityPrediNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityPrediNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityPrediNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityEnrollStart, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityEnrollStart, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                    @Html.ValidationMessageFor(model => model.ActivityEnrollStart, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityEnrollEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityEnrollEnd, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                    @Html.ValidationMessageFor(model => model.ActivityEnrollEnd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityPolitical, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{ Dictionary<int, String> PoliticalDict = (Dictionary<int, String>)ViewBag.PoliticalDict;}
                    @foreach (var key in PoliticalDict.Keys)
                {
                    <input type="checkbox" value="@key" name="Major" id="@key" />
                    <label for="@key">@PoliticalDict[key]</label>
            }
                    @Html.ValidationMessageFor(model => model.ActivityMajor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityMajor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{ Dictionary<int, String> MajorDict = (Dictionary<int, String>)ViewBag.MajorDict;}
                    @foreach (var key in MajorDict.Keys)
                {
                    <input type="checkbox" value="@key" name="Major" id="@key" />
                    <label for="@key">@MajorDict[key]</label>
            }
                    @Html.ValidationMessageFor(model => model.ActivityMajor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityDepartment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{ Dictionary<int, String> DepartmentDict = (Dictionary<int, String>)ViewBag.DepartmentDict;}
                    @foreach (var key in DepartmentDict.Keys)
                {
                    <input type="checkbox" value="@key" name="Major" id="@key" />
                    <label for="@key">@DepartmentDict[key]</label>
            }
                    @Html.ValidationMessageFor(model => model.ActivityMajor, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btn" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>

    </form>
</body>
</html>
