@model OjVolunteer.Model.OrganizeInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ITAEM</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />
    <script src="~/Content/oj/js/jquery-1.12.4.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/admin.js"></script>
    <script src="~/Scripts/simple-ajax-form.js"></script>
    <script type="text/javascript">
        $(function () {
            bindUpdateClick();

        });
        function bindUpdateClick() {
            $("#btnUpdate").click(function () {
                $.post("/OrganizeInfo/Edit", $("#form1").serializeArray(), function (data) {
                    if (data != "ok") {
                        alert("资料修改出错，请稍后再试");
                        return;
                    } else {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                });
            });
        }
        
    </script>
</head>
<body>
    <header class="form-title">
        <h4>更改你的相关信息</h4>
    </header>
    <hr class="layui-bg-green">
    <div class="form-content">

     <form class="layui-form layui-form-pane" id="form1">

                <!--上传头像-->
                <div class="form-head clearfix">
                    <!--左半边-头像-->
                    <div class="layui-upload form-head-left">
                        <input type="hidden" name="OrganizeInfoIcon" value="@Model.OrganizeInfoIcon"/>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1" src="@Model.OrganizeInfoIcon">
                            <p id="demoText"></p>
                            <button type="button" class="layui-btn" id="test1">更改头像</button>
                        </div>
                    </div>
                    <!--右半边-部分信息更改-->
                    <div class="form-head-right">
                        <div class="layui-form-item">
                            <label class="layui-form-label">组织名称</label>
                            <div class="layui-input-block">
                                <input name="OrganizeInfoShowName" type="text" autocomplete="off" value="@Model.OrganizeInfoShowName" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">负责人姓名</label>
                            <div class="layui-input-block">
                                <input name="OrganizeInfoPeople" type="text" autocomplete="off" value="@Model.OrganizeInfoPeople" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-foot">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input name="OrganizeInfoPhone" type="text" autocomplete="off" value="@Model.OrganizeInfoPhone" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="OrganizeInfoEmail" autocomplete="off" value="@Model.OrganizeInfoEmail" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">登录名</label>
                        <div class="layui-input-block">
                            <input type="text" name="OrganizeInfoLoginId" autocomplete="off" value="@Model.OrganizeInfoLoginId" class="layui-input"
                                   disabled="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="OrganizeInfoID" autocomplete="off" value="@Model.OrganizeInfoID" class="layui-input"
                                   disabled="">
                        </div>
                    </div>
                    @Html.HiddenFor(Model =>Model.OrganizeInfoManageId)
                    @Html.HiddenFor(Model =>Model.OrganizeInfoLastTime)
                    @Html.HiddenFor(Model =>Model.CreateTime)
                    @Html.HiddenFor(Model =>Model.Status)


                </div>
                <div class="form-btns">
                    <button type="button" class="layui-btn" id="btnUpdate">确定</button>
                    <button class="layui-btn" id="cancel" type="button">取消</button>
                </div>
            </form>
    </div>



</body>
</html>
